#root {
  padding: 2rem;
  text-align: center;
  background-color: rgb(128, 128, 128);
  color: white;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

li {
  display: flex;
  flex-direction: column;
}
.home-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.filters {
  text-align: left;
  margin-left: 25%;
  line-height: 50px;
  font-size: 20px;
}
.input-name {
  padding: 7px;
  border-radius: 6px;
  margin-left: 15px;
  font-size: 16px;
}
.links {
  color: white;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(142, 141, 141, 0.932);
  border: solid;
  border-color: black;
  border-width: 1px;
}
.detail-link {
  background-color: rgba(108, 21, 21, 0.785);
  padding: 10px;
}
