.list-text {
  line-height: 1.5;
  padding: 2px;
  background-color: rgb(192, 160, 69);
  border-radius: 6px;
  font-weight: 600;
  padding-bottom: 20px;
}
.list-text p {
  margin: 0;
}

img {
  height: 320px;
  width: 200px;
  border-top-left-radius: 6px;
  border-top-right-radius: px;
}
.space-link {
  margin-top: 10px;
}
